html, body{
    font-family:"Baskerville"; font-weight: lighter;
    font-color:#000;
}

#header{
    position:fixed;
    top:0px;
    left:0px;
    margin:30px;
    z-index:999;  
    
}
#title{
    padding:5px;
    font-size:90px;
    font-weight:100;
    letter-spacing:5px;
}
#subtitle{
    padding:5px;
    font-size:24px;
    font-weight:100;
}
#map{
    position:relative;
    float:top;
    width:100%;
    height:100%;
    overflow:hidden;
}
#description{
    position:fixed;
    top:40px;
    right:35%;
    width:300px;
    height:200px;
    background-color:rgba(255,255,255,.5);  
    font-size:20px;
}
#table{
    position:fixed;
    top:0px;
    right:0px;
    border:1px solid black;
    background-color:rgba(255,255,255,.8);
    margin:20px;
}

#charts{
    position:fixed;
    top:0px;
    right:0px;
    width:30%;
    height:90%;
    border:1px solid black;
    margin:20px;
    padding:30px;
    font-size:18px;
    z-index:999;  
    background-color:rgba(255,255,255,.5);  
}

#adversityC{border-bottom:1px dotted black;}
#chartName{border-bottom:1px dotted black;font-size:24px;}
#diversityC{border-bottom:1px dotted black;}
#connectivity{border-bottom:1px dotted black;}
#population{border-bottom:1px dotted black;}
#quality{border-bottom:1px dotted black;}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
